<ion-view ng-class="" view-title="Sign Up">
    <ion-content>
        <form name="signupForm" novalidate>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Username</span>
                    <input type="text" name="username" id="signuptextU" ng-model="signupData.username" 
                           ng-minlength="2" ng-maxlength="20" required>
                </label>
                <label class="error">
                    <div ng-messages="signupForm.username.$error" style="color:red" role="alert" ng-if="signupForm.$submitted">
                        <div ng-message="required">username required</div>
                        <div ng-message="minlength">username to long</div>
                        <div ng-message="maxlength">username to shot</div>
                    </div> 
                </label>
                <label class="item item-input">
                    <span class="input-label">E-mail</span>
                    <input name="email" type="email" required="yes" id="signuptextE" ng-model="signupData.email">
                </label>
                <label class="error">
                    <div ng-messages="signupForm.email.$error" style="color:red" role="alert" ng-if="signupForm.$submitted">
                        <div ng-message="required">email required</div>
                    </div> 
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" name="password" id="signuptextP" required="yes" ng-model="signupData.password">
                </label>
                <label class="error">
                    <div ng-messages="signupForm.password.$error" style="color:red" role="alert" ng-if="signupForm.$submitted">
                        <div ng-message="required">Password required</div>
                    </div> 
                </label>
                <label class="item item-input">
                    <span class="input-label">Birthdate</span>
                    <input type="date" required="yes" name="birthdate" id="signuptextB" ng-model="signupData.birthdate">
                </label>
                <label class="error">
                    <div ng-messages="signupForm.birthdate.$error" style="color:red" role="alert" ng-if="signupForm.$submitted">
                        <div ng-message="required">birthdate required</div>
                    </div> 
                </label>
                <!--                <label class="item">
                                    <span id="signUpMsg"></span>   
                                </label>-->
                <label class="item">
                    <button class="button button-block button-positive" ng-click="doSignup()"  type="submit">Sign Up</button>
                </label>

            </div>
        </form>
    </ion-content>
    <!--</ion-modal-view>-->
</ion-view>

