<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->

<ion-view ng-class="" view-title="Post Wish">
    <ion-content ng-init="getCategories()">
        <!--    <h1>Put Article</h1>-->
<form name="formInfo" ng-submit="doarticlePost()" novalidate>
        <div class="list">

            <label class="item item-input">
                <span class="input-label">Categories</span>
                <select ng-model="articlePostData.catName">
                    <option  ng-repeat="cat in categories">{{cat.name}}</option>
                </select> 
            </label>
            <label class="item item-input">
                <span class="input-label">Name</span>
                <input type="text" ng-model="articlePostData.name" name="name" required="yes" minlength="5">
            </label>
            <label>
               <div ng-messages="formInfo.name.$error" style="color:red" role="alert" ng-if="formInfo.$submitted">
                    <div ng-message="required">Name required</div>
                    <div ng-message="minlength">Name to long</div>
                    <div ng-message="maxlength">Name to shot</div>
                </div> 
            </label>
            
            <label class="item item-input">
                <span class="input-label">Description</span>
                <textarea type="text" ng-model="articlePostData.description"></textarea>
            </label>
            <label class="item item-input">
                <span class="input-label">Img</span>
                <input type="file" ng-model="articlePostData.image">
            </label>
            <label class="item">
                <button class="button button-block button-positive" type="submit">Submit</button>
            </label>
        </div>
</form>
    </ion-content>
</ion-view>
