<ion-view ng-class="" view-title="{{message.object}}">
    
    <ion-content class="padding" header-shrink scroll-event-interval="1">
        <!--<div style="height: 64px;"></div>-->
        <div class="list card" ng-repeat="message in messages">
            <div class="item item-avatar bar bar-header bar-balanced" >
            <h2 style="color: white; margin-top: 1px">Sender: {{message.sender}}</h2>
            <h2 style="color: white; margin-top: 1px">Object: {{message.object}}</h2>
          </div>
            <div class="item item-body">
       <p>{{message.message}}</p> 
       </div>
<!--           <div class="item tabs tabs-secondary tabs-icon-left bar bar-header bar-energized">
            <a class="tab-item" href="#">
              <i class="icon ion-email"></i>
              Contact
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>
              Comment
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              Share
            </a>
          </div>  -->
       </div>
    </ion-content>
</ion-view>
